// COLORS
$color-primary: #29b6f6;
$color-primary-light: #81d4fa;
$color-primary-dark: #039be5;

// $color-secondary-light: #4bd6ac;
// $color-secondary-dark: #00796b;
$color-secondary-light: #ebff39;
$color-secondary-dark: #a5b800;

$color-tertiary-light: #a3459a;
$color-tertiary-dark: #5a1297;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;

$color-grey-dark: #777777;
$color-grey-dark-2: #999999;
$color-grey-dark-3: #333333;

$color-white: #ffffff;
$color-black: #000000;


// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;